
.ssAutoComplete{
  background-color:palevioletred;
}

.ssAutoComplete input{
  box-sizing: border-box;
}

.ssAutoComplete > div:first-of-type{
  position:relative;
  background-color:pink;
  padding:0 0 0 15px;
  overflow-x:hidden;
}

.ssAutoComplete > div:first-of-type > div:first-of-type{
  background-color:palegreen;
  box-sizing: border-box;
  position:absolute;
  top:0;
  left:-15px;
  width:100%;
  padding:4px 0 4px 30px;
}

.ssAutoComplete > div:first-of-type > div:nth-of-type(2){
  background-color:palegoldenrod;
  max-height:300px;
  overflow-y:scroll;
}

.ssAutoComplete ul{
  margin:0;
  padding:0;
  list-style-type: none;
}

.ssAutoComplete li{
  padding:4px 0 4px 0px;
}





div.SSAC {
	max-height: 300px;
	position: absolute;
	padding: 0;
	overflow-y: scroll;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 4px;
    z-index:999;
}

div.SSAC ul {
	list-style-type: none;
	padding: 0;
	margin:0;
	cursor: pointer;
}

div.SSAC li {
    list-style-type: none;
    padding: 4px 0px 4px 15px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

div.SSAC li:hover {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

div.SSAC li.ssSI {
    background-color: #f6d0ac;
}
